<!-- header -->
<div class="myheader-pc">
    <div class="logo">
        <img src="img/logo-adaro-water.png" height="80" alt="">
    </div>
    <div class="menu-dashboard">
        <div>Dashboard</div>
    </div>
    <!-- <div class="penjelasan">
        <h2>How to use?</h2>
        <div class="list-container">
            <div class="list-exp">
                <i class="bx bxs-chevron-right"></i>
                <p class="exp">Set timer static: waktu konstan.</p>
            </div>
            <div class="list-exp">
                <i class="bx bxs-chevron-right"></i>
                <p class="exp">Set timer random: waktu random.</p>
            </div>
            <div class="list-exp">
                <i class="bx bxs-chevron-right"></i>
                <p class="exp">Button set ON: atur waktu nyala.</p>
            </div>
            <div class="list-exp">
                <i class="bx bxs-chevron-right"></i>
                <p class="exp">Button set OFF: atur waktu mati.</p>
            </div>
        </div>
    </div> -->
    <div>
        <div class="toggle-container-2">
            <p id="manualText">Manual</p>
            <label class="switch-2">
                <input type="checkbox" id="toggleAuto" checked>
                <span class="slider-2"></span>
            </label>
            <p id="autoText">Auto</p>
        </div>
    </div>
</div>